@page "/multiplication"

<PageTitle>Multiplication</PageTitle>

<h1>Multiplication</h1>

<p role="status">@multiplicand * @multiplier = @product</p>

<button class="btn btn-primary" @onclick="UpdateEquation">Multiplication Problem</button>

@code {
    private int currentCount = 0;
    private int multiplicand, multiplier, product;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void UpdateEquation()
    {
        Random rand = new Random();
        multiplicand = rand.Next(101);
        multiplier = rand.Next(101);
        product = multiplicand * multiplier;
    }
}
