@page "/multiplication"

<PageTitle>Multiplication</PageTitle>

<h1>Multiplication</h1>

<p role="status">@multiplicand * @multiplier = </p>
<p role="status">@product</p>

<button class="btn btn-primary" @onclick="UpdateEquation">Multiplication Problem</button>
<button class="btn btn-primary" @onclick="Answer">Show Answer</button>

@code {
    private int multiplicand, multiplier, product;

    private void UpdateEquation()
    {
        Random rand = new Random();
        multiplicand = rand.Next(13);
        multiplier = rand.Next(13);
        product = 0;
    }

    private void Answer()
    {
        product = multiplicand * multiplier;
    }
}
